@import "globals";
@import "forms";

.uk-panel {
  background:#fff;
  border:1px solid $border-color;
}

.table_header {
  background:#313747;
  font-size:1.6rem;
  color:#E3E3E5;
}

.task_row, .show_task_details {
  cursor:pointer;
}

.task_details{
	text-align: right;
	margin-top: 10px;
}

.margin-left-12 {
	margin-left: 12px;
}

@media (max-width: 767px){
  .dashboard_responsive {
  	padding: 0px;
  	.uk-table {
  		td {
  			font-weight: normal;
  			font-size: 1.6rem;
  			line-height: 30px;
  			padding-left: 0px;
  		}
  		.uk-h3.uk-align-right {
  			margin: 0px;
  		}
  		a.invite_pro_btn img {
  			width: 85%;
  		}
  	}
  }

  .uk-grid {
    margin-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .dashboard_responsive {
  	padding: 0px;
  	.uk-table a.invite_pro_btn img {
  		width: 45%;
  	}
  }
}

.margin-top-0 {
  margin-top: 0px !important;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}