@import "globals";

.billing-plan {
  &__box {
    padding:0;
    cursor:pointer;
     &:hover .billing-plan__content {
      background:#fdfdfd;
    }
    .uk-panel-title {
      margin:0;
    }
  }

  &__title {
    background: #2d3344;
    font-size:2.4rem;
    color:#fff!important;
    text-align:center;
    text-transform: uppercase;
    font-family:$regular;
    margin:0;
    padding:10px;
    line-height:1;
  }
  &__content {
    background:#fff;
    text-align:center;
    border:1px solid $border-color;
    border-top:0;
    padding:40px 15px 15px;
    button {
      font-size:1.6rem;
      padding-left:30px;
      padding-right:30px;
    }
  }
  &__price {
    padding-bottom:15px;
    p {
      margin:0;
      padding:0;
    }
    p + p {
      margin-left:10px;
    }
    p:first-child {
      align-self:flex-start;
    }
    p:last-child {
      align-self:flex-end;
    }
  }
  &__currency {
    font-size:2rem;
    align-self:top;
  }
  &__amount {
    font-size:5.5rem;
    font-family:$regular;
    line-height:1;
  }
  &__period {
    font-size:1.6rem;
    margin-left:10px!important;
    line-height: 2.2;
    text-transform: uppercase;
  }
  &__description {
    padding-bottom:20px;
  }
  &__medium {
    .billing-plan__content {
      padding-top: 60px;
    }
  }
  &__indication {
    font-size:1.5rem;
    color:#932b5b;
    text-transform:uppercase;
    margin:10px 0 0!important;
  }
}

.billing-history {
  &__holder {
    background: #fff;
    border: 1px solid #D3D9E9;
    padding: 35px 35px 30px;
  }
}
