<header>
	<%= stylesheet_link_tag "screens/projects" %>
	<% content_for :javascript_includes do %>
	  <%= javascript_include_tag "project.js" %>
	<% end %>
</header>

<body>	
	<div class="uk-panel uk-panel-box">
		<div class="uk-h1"><%=  @project.name %></div>
		
		<div class="uk-panel-space"></div>

		<div class="uk-container uk-text-right">
			<div>
				<%=   _("#{t('project.description')}") %>
				<%=  @project.description %></div>
			<div> 
				<%=   _("#{t('project.plot')}") %>
				<%=  @project.plot %>
				<%= _("#{t('common.hint_size')}") %></div>
			<div>
				<%=   _("#{t('project.lot')}") %>
				<%=  @project.build %>
				<%= _("#{t('common.hint_size')}") %></div>
			<div>
				<%=   _("#{t('project.start_date')}") %>
				<%=  @project.orig_start_date %></div>
			<div class="secondery-button medium-button" %>
				<%= link_to _("#{t('common.edit')}"), edit_project_path(@project.id) %>
			</div>
		</div>

		<div class="uk-panel-space"></div>

		<div class="uk-container">
			<i class="uk-h2"><%= _("#{t('project.my_task_list')}") %></i>
			<i class="primary-button mini-button uk-align-left">
				<%= link_to _("#{t('project.add_task')}"), new_project_task_path(@project) %>
			</i>
		</div>


		<div class="uk-container">
			<table class="uk-table uk-table-hover uk-width-10-10">
				<thead>
					<tr class="table_header uk-h4">
						<th class="uk-width-1-10"></th>
						<th class="uk-width-2-10 uk-text-right">
							<%= _("#{t('project.tasks')}") %></th>
						<th class="uk-width-1-10 uk-text-right"></th>
						<th class="uk-width-2-10 uk-text-right">
							<%=  _("#{t('project.cost')}") %></th>
						<th class="uk-width-2-10"></th>
						<th class="uk-width-1-10"><%= _("#{t('project.pro')}") %></th>
						<th class="uk-width-1-10"></th>
					</tr>
					<tr  class="table_header uk-h3">
						<th class="uk-width-1-10"></th>
						<th class="uk-width-2-10 uk-text-right">
							<%= @complete_task_count %> /
							<%= @task_count %> </th>
						<th class="uk-width-1-10 uk-text-right"></th>
						<th class="uk-width-2-10 uk-text-right">
							<%= @total_cost %> / 
							<%= @total_paid %> 
							<%= _("#{t('common.hint_cur')}") %></th>
						<th class="uk-width-2-10"></th>
						<th class="uk-width-1-10"></th>
						<th class="uk-width-1-10"></th>
					</tr>
				</thead>
				<% if !@tasks_hash.nil? %>
					<% @tasks_hash.each_entry do |phase, tasks| %>
						<tr class="uk-h3 uk-align-right">
							<td nowrap=""><%= SupportedPhase.find(phase).name %></td>
						</tr>
						<% tasks.each_entry do |id, t| %>
							<%	t.each_entry do |x|  %>
								<tr class="task_row uk-h4">
  									<td class="uk-width-1-10">
										<%= image_tag(x.image_url) %>
				  					</td>
	  								<td class="uk-width-2-10 uk-text-right"><%= x.name %>
	  								</td>
	  								<td class="uk-width-1-10 uk-text-right"><%= x.cur_end_date %>
	  								</td>
	  								<td class="uk-width-2-10 uk-text-right">
	  									<% if (!x.cost.nil? || x.cost == "0") || (!x.paid.nil? || x.paid == "0" ) then %>
		  									<%= if (!x.cost.nil?) then x.cost else "0" end %>
		  									<%= "/" %>
		  									<%= if (!x.paid.nil?) then x.paid else "0" end %>
		  									<%= _("#{t('common.hint_cur')}") %>
		  								<% end %>
	  								</td>
									<td class="uk-width-2-10 uk-text-right" id="create_pro"><%=	if !x.pro.nil? then 
										(link_to (x.pro.full_name), project_task_pro_path(x.project,x,x.pro)) else (link_to _("#{t('project.pro')}"), new_project_task_pro_path(x.project,x)) end %></td>
									<td class="uk-width-1-10 uk-text-right"><%=	if x.dilemma_count==0 then ("") else image_tag('wizard/dg_logo.png') end %></td>
									<td class="uk-width-1-10 uk-text-right">
									</td>	
								</tr>
								<tr class="task_details" hidden="true">
									<td class="task_details" colspan="7">
										<div>
											<p><%=  if !x.description.nil? then x.description end %></br></p>
											<p><% if x.dilemma_count==0 then %> 
												 	<%= (_("#{t('project.no_dilemma_title')}")
											 		link_to _("#{t('project.here')}")+x.name, new_dilemma_path(:task_id => x.id)) %> 
												<% else %>
													<% eval(x.dilemma_list).each do |id, title| %>
														<%= link_to title, dilemma_path(id) %></p>
													<% end %>
													<p><%= (link_to _("#{t('project.here_again')}")+x.name, new_dilemma_path(:task_id => x.id)) %> </p>
												<% end %>
											<p><%  if x.task_tips.to_s != "" then  %>
												<%= _("#{t('task.tips')}") %>
												<% eval(x.task_tips).each do |name, url| %></br>
													<i><%= link_to name, url, target: :_blank %></i>
												<% end %></p>
											<% end %>
											<p><%= _("#{t('task.cost')}") %>
												<%=  x.cost %>
												<%= _("#{t('common.hint_cur')}") %>,
												<%= _("#{t('task.paid')}") %>
												<%=  x.paid %>
												<%= _("#{t('common.hint_cur')}") %>
											</br></p>
											<p id = "show_notes"><%= _("#{t('task.notes')}") %>
											<%=  x.notes %></p>
											<p>
												<i><%=	link_to _("#{t('common.edit')}") , edit_project_task_path(@project,x) %></></i>
											 | <i><%=	link_to _("#{t('common.delete')}"), project_task_path(@project, x), data: {:confirm => _("#{t('common.are_you_sure')}")}, method: :delete %></i>
											</p>
										</div>
									</td>
								</tr>
								<tr class="add_pro_area" hidden="true">
									<td class="add_pro_area" colspan="7">
										<div class="uk-panel uk-form-width-medium">
											<p>pro info</p>
										</div>
									</td>
								</tr>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			</table>
		</div>
	</div>
</body>
