<header>
	<%= stylesheet_link_tag "screens/projects" %>
	<% content_for :javascript_includes do %>
	  <%= javascript_include_tag "project.js" %>
	<% end %>
</header>
<body>
	<div class="uk-panel uk-panel-box">
		<div class="uk-h2">	<%=   _("#{t('guru_db.welcome')}") %>
							<%=  @user.full_name %>
		</div>
		
		<div class="uk-panel-space"></div>

		<% if !@tasks_hash.nil? %>
			<div class="uk-h4 uk-text-right">	<%=   _("#{t('guru_db.with_tasks_note')}") %></div>
			<div class="uk-panel-space"></div>

			<div class="uk-container">
				<table class="uk-table uk-table-hover">
					<thead>
						<tr class="table_header uk-h4 uk-text-center uk-text-bold">
							<th class="uk-width-1-6 uk-text-right">
								<%= _("#{t('project.tasks')}") %></th>
							<th class="uk-width-1-6 uk-text-right">
								<%= _("#{t('task.title')}") %></th>
							<th class="uk-width-1-6 uk-text-right"></th>
							<th class="uk-width-1-6 uk-text-right"><%=  _("#{t('project.cost')}") %></th> 
							<th class="uk-width-1-6"></th> 
							<th class="uk-width-1-6"></th> 
						</tr>
						<% @tasks_hash.each_entry do |project, tasks| %>
						<tr class="uk-width-6-6">
							<th class="uk-width-1-6 uk-text-right uk-text-bold"><%= project.split('|')[1] %></th>
							<th class="uk-width-1-6 uk-text-right"><%= project.split('|')[3] %></th>
							<th class="uk-width-1-6 uk-text-right"><%= project.split('|')[2] %></th> 
							<th class="uk-width-1-6"></th> 
							<th class="uk-width-1-6"></th> 
							<th class="uk-width-1-6"></th> 
						</tr>ט
						<% tasks.each_entry do |id, t| %>
							<%	if !t.nil? then %>
								<%	t.each_entry do |x|  %>
									<tr class="task_row uk-width-6-6">
	  									<td class="uk-width-1-6 uk-text-right"><%= image_tag(x.image_url) %></td>
		  								<td class="uk-width-1-6 uk-text-right"><%= x.name %></td>
		  								<td class="uk-width-1-6 uk-text-right"></td>
		  								<td class="uk-width-1-6 uk-text-right">
		  									<% if (!x.cost.nil? || x.cost == "0") || (!x.paid.nil? || x.paid == "0" ) then %>
			  									<%= if (!x.cost.nil?) then x.cost else "0" end %>
			  									<%= "/" %>
			  									<%= if (!x.paid.nil?) then x.paid else "0" end %>
			  								<% end %>
		  								</td>
		  								<td class="uk-width-1-6 uk-text-right"></td>
		  								<td class="uk-width-1-6 uk-text-right"><%=	if x.dilemma_count==0 then ("0") else image_tag('wizard/dg_logo.png') end %></td>
									</tr>
									<tr class="task_details" hidden="true">
										<td class="task_details" colspan="7">
											<div>
												<p><%=  if !x.description.nil? then x.description end %></br></p>
												<p>	<%= _("#{t('task.cost')}") %>
													<%=  x.cost %>
													<%= _("#{t('common.hint_cur')}") %>,
													<%= _("#{t('task.paid')}") %>
													<%=  x.paid %>
													<%= _("#{t('common.hint_cur')}") %>
												</br></p>
												<p id = "show_notes"><%= _("#{t('task.notes')}") %><%=  x.notes %></p>
												<% if x.dilemma_count==0 then %> 
													<p><%= _("#{t('guru_dashboard.no_dilemma_title')}") %></p>
												<% else %>
													<p><%= _("#{t('guru_dashboard.dilemma_title')}") %></p>
													<p><% eval(x.dilemma_list).each do |id, title| %>
														<%= link_to title, dilemma_path(id) %></p>
												<% end %>
											<% end %>
											</div>
										</td>
									</tr>
								<% end %>
							<%	end %>
						<% end %>
					<% end %>
				</thead>
			</table>
		<% else %>
			<div class="uk-container">
			<div class="uk-h4">	<%=   _("#{t('guru_db.without_tasks_note')}") %></div>

			</div>
		<% end %>
		</div>
	</div>
</body>	
