<%= stylesheet_link_tag "screens/projects" %>

<h1>h1 font</h1>
<h2>h2 font</h2>
<h3>h3 font</h3>
<h4>h4 font</h4>
<h5>h5 font</h5>
<h6>h6 font</h6>
<p>p font</p>

<div class="uk-h1">uk-h1 font</div>
<div class="uk-h2">uk-h2 font</div>
<div class="uk-h3">uk-h3 font</div>
<div class="uk-h4">uk-h4 font</div>
<div class="uk-h5">uk-h5 font</div>
<div class="uk-h6">uk-h6 font</div>
<div class="uk-hr">uk-hr font</div>


<h1>h1 פורמט</h1>
<h2>h2 פורמט</h2>
<h3>h3 פורמט</h3>
<h4>h4 פורמט</h4>
<h5>h5 פורמט</h5>
<h6>h6 פורמט</h6>
<p>p פורמט</p>

<div class="uk-h1">uk-h1 פורמט</div>
<div class="uk-h2">uk-h2 פורמט</div>
<div class="uk-h3">uk-h3 פורמט</div>
<div class="uk-h4">uk-h4 פורמט</div>
<div class="uk-h5">uk-h5 פורמט</div>
<div class="uk-h6">uk-h6 פורמט</div>
<div class="uk-hr">uk-hr פורמט</div>


			<div class="uk-panel-space"></div>


<div class="uk-panel uk-panel-box"> 
	<p>uk panek uk panel box</p>
	<p>מלל לא מעניין בעברית</p>
</div>

			<div class="uk-panel-space"></div>


<div class="uk-panel"> 
	<p>uk panek</p>
	<p>מלל לא מעניין בעברית</p>
</div>


			<div class="uk-panel-space"></div>


<div class="uk-container"> 
	<p>uk container </p>
	<p>מלל לא מעניין בעברית</p>
</div>











<!--
<h4>Project's list </h4>
<div class="project">
	      <table>
	        <tr>
	        	<td>id</td>
	        	<td>Desription</td>
	        	<td>Type</td>
	        </tr>
	    <div class="projects">
	    <% @projects.each do |project| %>
	    <div class="row">
	      <div class="col-xs-12">
	        <tr>
	        	<td><%= link_to project.id, project %>: </td>
	        	<td><%= project.name %></td>
				<td><%= project.description %></td>
	        </tr>
	        </table>
	      </div>
	    </div>
	   <% end %>
	  </div>
</div>
-->
